body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


header.masthead {
    position: relative;
    background: #343a40 url("../img/bg-masthead.jpg") no-repeat center center;

    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}


@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

}


footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
